@charset "UTF-8";
#wrap {
  overflow-x: hidden;
}

body {
  color: #333333;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #333333;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
  color: #333333;
}

img {
  width: 100%;
}

li {
  display: inline-block;
}

.section__ttl {
  text-align: center;
  font-size: 32px;
  margin-bottom: 11px;
}

.section__ttl_txt {
  text-align: center;
  color: #3BA6C9;
  font-size: 16px;
}

/* section__ttl */
label {
  color: #333333;
  font-size: 16px;
}

label:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header {
  -webkit-box-shadow: 0px 3px 6px #110b0b29;
          box-shadow: 0px 3px 6px #110b0b29;
  max-width: 1920px;
  z-index: 10;
  width: 100%;
  position: fixed;
  background-color: white;
  height: 94px;
  top: 0;
  /* header__inner */
  /* header__left */
  /* header__center */
  /* header__right */
  /* header__right_btn */
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1022px;
  width: 90%;
  margin: auto;
  padding: 28px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

@media (max-width: 1000px) {
  .header__inner {
    width: 95%;
    max-width: 850px;
    padding: 16px 0;
  }
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left h1 {
  font-size: 24px;
  line-height: 1;
}

.header__left-logo {
  margin-right: 16px;
}

@media (max-width: 1000px) {
  .header__center {
    display: none;
  }
}

.header__center li a {
  margin-right: 46px;
  font-size: 18px;
}

@media (max-width: 1000px) {
  .header__right {
    display: none;
  }
}

.header__right_btn {
  text-align: center;
  padding: 7px 36px 10px 35px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #110b0b29;
          box-shadow: 0px 3px 6px #110b0b29;
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: linear-gradient(90deg, #FA41CC, #6020B0);
  color: white;
  font-size: 14px;
}

.header__right_btn:hover {
  color: white;
}

/* header */
/* ハンバーガーメニュー */
/* ボタン */
.menu-trigger, .menu-trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
}

.menu-trigger {
  position: relative;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
  display: none;
  background: none;
  /* bar */
  /* closeクラスが追加された時 */
  /* menu-trigger.close */
}

@media (max-width: 1000px) {
  .menu-trigger {
    display: block;
    margin-left: auto;
  }
}

.menu-trigger .bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
}

.menu-trigger .bar-top {
  top: 0;
}

.menu-trigger .bar-mid {
  top: 12px;
}

.menu-trigger .bar-bottom {
  bottom: 0;
}

.menu-trigger.close {
  background: none;
}

.menu-trigger.close .bar-top {
  -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.menu-trigger.close .bar-mid {
  opacity: 0;
}

.menu-trigger.close .bar-bottom {
  -webkit-transform: translateY(-12px) rotate(45deg);
          transform: translateY(-12px) rotate(45deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

/* menu-trigger */
.white-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}

/* menu-list */
.menu-list {
  width: 40%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  text-align: center;
  background-color: white;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  /* menu-list */
}

@media (max-width: 768px) {
  .menu-list {
    width: 100%;
  }
}

.menu-list.slideIn {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.menu-list .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40%;
}

@media (max-width: 768px) {
  .menu-list .menu-items {
    padding-top: 200px;
  }
}

.menu-list .menu-item a {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.menu-list .menu-item {
  margin-bottom: 50px;
}

/* menu-list */
.noscroll {
  overflow: hidden;
  overflow-x: hidden;
}

.mv {
  position: relative;
  background-image: url(/image/mv__right_img.svg);
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 1920px;
  background-position: right -128px top -50px;
  /* mv__inner */
  /* mv__left */
  /* mv__right */
  /* mv__ttl */
  /* mv__txt */
}

@media (max-width: 1000px) {
  .mv {
    background-size: 80%;
    background-position: right -150px top -50px;
  }
}

@media (max-width: 768px) {
  .mv {
    background-size: auto;
    background-position: right -100px top -100px;
  }
}

.mv__inner {
  max-width: 1020px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 230px 0;
}

@media (max-width: 1000px) {
  .mv__inner {
    width: 95%;
    padding: 220px 0 200px;
    max-width: 770px;
  }
}

@media (max-width: 768px) {
  .mv__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 150px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.mv__left {
  width: auto;
}

.mv__right {
  width: 518px;
}

@media (max-width: 1000px) {
  .mv__right {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .mv__right {
    width: 80%;
    margin-top: 20px;
  }
}

.mv__ttl {
  font-size: 32px;
  margin-bottom: 38px;
  line-height: 50px;
}

@media (max-width: 1000px) {
  .mv__ttl {
    font-size: 28px;
    line-height: 1.5;
  }
}

.mv__txt {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 51px;
}

@media (max-width: 1000px) {
  .mv__txt {
    margin-bottom: 31px;
  }
}

.mv__btn {
  text-align: center;
  padding: 7px 36px 10px 35px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #110b0b29;
          box-shadow: 0px 3px 6px #110b0b29;
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: linear-gradient(90deg, #FA41CC, #6020B0);
  color: white;
  font-size: 14px;
}

.mv__btn:hover {
  color: white;
}

/* mv */
.futures {
  margin-top: 80px;
  /* future__ttl */
  /* futures__ttl_txt */
  /* futures__01_wrap */
  /* futures__01_right */
  /* futeres__02 */
  /* futures__02_wrap */
  /* futures__02_left */
  /* futures__02_right */
  /* fuuters__03_wrap */
  /* futures__03_left */
  /* futures__03_right */
}

@media (max-width: 1000px) {
  .futures {
    margin-top: 0;
  }
}

.futures .container {
  margin: auto;
  width: 90%;
  max-width: 1060px;
}

.futures h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .futures h2 {
    font-size: 26px;
  }
}

.futures h3 {
  font-size: 24px;
  line-height: 2;
  margin-bottom: 54px;
}

@media (max-width: 1000px) {
  .futures h3 {
    font-size: 22px;
    line-height: 1.5;
  }
}

.futures__ttl {
  /* future__ttl_01 */
}

.futures__ttl_01 {
  font-size: 28px;
  margin-top: 57px;
}

@media (max-width: 768px) {
  .futures__ttl_01 {
    font-size: 24px;
  }
}

.futures__ttl_02 {
  font-size: 28px;
}

@media (max-width: 768px) {
  .futures__ttl_02 {
    font-size: 24px;
  }
}

.futures__ttl_03 {
  font-size: 28px;
}

@media (max-width: 768px) {
  .futures__ttl_03 {
    font-size: 24px;
  }
}

.futures__ttl_txt {
  font-size: 16px;
  color: #3BA6C9;
  margin-bottom: 67px;
  text-align: center;
}

.futures__01_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  max-width: 1060px;
  margin-bottom: 93px;
}

@media (max-width: 768px) {
  .futures__01_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.futures__01_left {
  width: 380px;
}

@media (max-width: 1000px) {
  .futures__01_left {
    width: 40%;
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .futures__01_left {
    width: 90%;
  }
}

.futures__01_right {
  width: 50%;
  padding-top: 54px;
}

.futures__01_right p {
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 768px) {
  .futures__01_right {
    width: 90%;
  }
}

.futures__02 {
  margin-bottom: 143px;
}

.futures__02_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  max-width: 1060px;
}

@media (max-width: 768px) {
  .futures__02_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.futures__02_left p {
  font-size: 16px;
  line-height: 26px;
}

.futures__02_right {
  width: 479px;
}

@media (max-width: 1000px) {
  .futures__02_right {
    max-width: 450px;
  }
}

@media (max-width: 768px) {
  .futures__02_right {
    width: 90%;
    max-width: 400px;
    margin-bottom: 30px;
  }
}

.futures__03_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  max-width: 1060px;
  max-width: 880px;
}

@media (max-width: 1000px) {
  .futures__03_wrap {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .futures__03_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .futures__03_left {
    max-width: 480px;
    width: 45%;
  }
}

@media (max-width: 768px) {
  .futures__03_left {
    width: 80%;
  }
}

.futures__03_right {
  padding-top: 28px;
}

.futures__03_right p {
  line-height: 28px;
  font-size: 16px;
}

/* futures */
.price {
  text-align: center;
  background-color: #EEFBFB;
  margin-top: 154px;
  padding-top: 55px;
  padding-bottom: 68px;
  /* price__table */
}

.price__table {
  max-width: 1020px;
  width: 68%;
  margin: auto;
  background-color: #FFFFFF;
  min-height: 410px;
  table-layout: fixed;
  -webkit-box-shadow: 0px 3px 6px #110b0b29;
          box-shadow: 0px 3px 6px #110b0b29;
  margin-bottom: 36px;
  margin-top: 70px;
  /* td */
}

@media (max-width: 1000px) {
  .price__table {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .price__table {
    min-height: initial;
    width: 95%;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .price__table tr {
    text-align: left;
  }
}

.price__table td {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid rgba(216, 214, 214, 0.3);
}

@media (max-width: 768px) {
  .price__table td {
    padding: 25px 15px;
  }
}

.price__table td:nth-child(1) {
  width: 40%;
}

@media (max-width: 768px) {
  .price__table td:nth-child(1) {
    width: 52%;
  }
}

.price__table td:nth-child(2) {
  text-align: left;
  padding-left: 35px;
}

@media (max-width: 768px) {
  .price__table td:nth-child(2) {
    padding: 20px;
  }
}

.price__ttl {
  font-size: 32px;
  margin-bottom: 11px;
}

.price__ttl_txt {
  font-size: 16px;
  margin-bottom: 70px;
  color: #3BA6C9;
}

/* price */
.faq {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 86px;
  /* faq__ac */
}

.faq__ttl {
  font-size: 32px;
  margin-bottom: 11px;
}

.faq__ttl_txt {
  font-size: 16px;
  color: #3BA6C9;
  margin-bottom: 32px;
}

.faq__ac {
  width: 67.79%;
  max-width: 1020px;
  margin: 0 auto;
  border: solid #E5E5E5 1px;
  margin-top: 32px;
}

@media (max-width: 1000px) {
  .faq__ac {
    width: 95%;
  }
}

.faq__ac-parent {
  min-height: 58px;
  border-bottom: 1px solid #E5E5E5;
  background-color: #FFFFFF;
  text-align: center;
  line-height: 58px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .faq__ac-parent {
    line-height: 1.5;
    padding: 20px;
  }
}

.faq__ac-child {
  display: none;
  padding: 2em 1em;
  background-color: #E5E5E5;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
}

.faq__ac-child:nth-child(1) {
  display: block;
}

@media (max-width: 768px) {
  .faq__ac-child {
    line-height: 1.5;
  }
}

/* faq */
.blog {
  background-color: #EEFBFB;
  padding-top: 55px;
  padding-bottom: 91px;
}

.blog__ttl {
  text-align: center;
  font-size: 32px;
  margin-bottom: 11px;
}

.blog__card {
  width: 90%;
  max-width: 1180px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .blog__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog__card_item {
  height: auto;
  background-color: white;
  width: 32%;
  max-width: 360px;
  position: relative;
  min-height: 387px;
  -webkit-box-shadow: 0px 3px 6px #110b0b29;
          box-shadow: 0px 3px 6px #110b0b29;
}

@media (max-width: 1000px) {
  .blog__card_item {
    min-height: 350px;
  }
}

@media (max-width: 768px) {
  .blog__card_item {
    width: 95%;
    max-width: 400px;
    margin-bottom: 20px;
    min-height: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}

.blog__card_bottom {
  padding: 14px 31px 10px 18px;
}

@media (max-width: 768px) {
  .blog__card_bottom {
    min-height: 150px;
  }
}

.blog__card_img {
  width: 100%;
}

.blog .time {
  position: absolute;
  display: inline-block;
  margin-top: auto;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* blog */
.work {
  padding-top: 68px;
  min-height: 700px;
}

.work__slide_btm {
  padding: 18px 18px 40px;
  -webkit-box-shadow: 0px 3px 6px #110b0b29;
          box-shadow: 0px 3px 6px #110b0b29;
}

.work .swiper-container {
  margin-top: 68px;
  height: 600px;
}

.work .swiper-slide {
  height: 407px;
  -webkit-box-shadow: 0px 3px 6px #110b0b29;
          box-shadow: 0px 3px 6px #110b0b29;
}

.work .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 600px;
}

.work .swip-img {
  min-height: 150px;
}

.work .swip-txt {
  line-height: 24px;
}

.work .swip-btm {
  padding: 20px;
}

.work .swip-dtl {
  font-size: 14px;
  margin-top: 30px;
  line-height: 24px;
}

/* work */
.contact {
  background: -webkit-gradient(linear, left top, right top, from(#05A5FA), color-stop(#63FBD7), to(#67FFD6));
  background: linear-gradient(90deg, #05A5FA, #63FBD7, #67FFD6);
  padding-top: 63px;
  padding-bottom: 70px;
  color: white;
  margin-top: 90px;
}

.contact__ttl_dtl {
  text-align: center;
  line-height: 24px;
  margin-bottom: 44px;
}

.contact__form {
  max-width: 908px;
  width: 80%;
  margin: auto;
  background-color: #FFFFFF;
  padding: 35px 62px 44px;
}

@media (max-width: 1000px) {
  .contact__form {
    width: 90%;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .contact__form {
    padding: 30px 15px;
  }
}

@media (max-width: 400px) {
  .contact__form {
    padding: 20px 10px;
  }
}

.contact__req {
  display: inline-block;
  color: #FFFFFF;
  background-color: #0C449B;
  margin-left: 23px;
  text-align: center;
  border-radius: 10px;
  padding: 3px 16px;
  font-size: 14px;
  line-height: 2;
}

.contact__form_name {
  margin-top: 36px;
  margin-bottom: 22px;
  display: block;
  width: 499px;
}

@media (max-width: 768px) {
  .contact__form_name {
    width: 90%;
    max-width: 300px;
  }
}

.contact__form_mail {
  margin-top: 35px;
  margin-bottom: 23px;
  display: block;
  width: 499px;
}

@media (max-width: 768px) {
  .contact__form_mail {
    width: 90%;
    max-width: 300px;
  }
}

.contact__form_txt {
  margin-top: 39px;
  display: block;
  margin-bottom: 27px;
}

@media (max-width: 1000px) {
  .contact__form_txt {
    width: 70%;
    max-width: 600px;
  }
}

.contact__ac {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  font-size: 16px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__form_sbm {
  text-align: center;
  padding: 7px 36px 10px 35px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #110b0b29;
          box-shadow: 0px 3px 6px #110b0b29;
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: linear-gradient(90deg, #FA41CC, #6020B0);
  color: white;
  font-size: 14px;
  display: block;
  font-weight: bold;
  width: 155px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact__form_sbm:hover {
  color: white;
}

.contact__form_sbm:hover {
  opacity: 0.6;
  cursor: pointer;
}

.contact__form_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.contact__form_ac-btn {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  line-height: 24px;
}

.contact .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.contact .privacy label {
  line-height: 26px;
}

.contact #privacyCheck {
  width: 20px;
  height: 20px;
  font-weight: bold;
  margin-right: 15px;
}

.contact .alert {
  color: red;
  text-align: center;
  margin-top: 15px;
}

.contact .section__ttl_txt {
  color: white;
  margin-bottom: 36px;
}

.contact input {
  background-color: #EEFBFB;
  border: none;
  padding: 8px;
}

.contact textarea {
  background-color: #EEFBFB;
  border: none;
  width: 783px;
  height: 179px;
  padding: 8px;
}

@media (max-width: 768px) {
  .contact textarea {
    width: 90%;
  }
}

.contact #name, .contact #male {
  height: 27px;
  max-height: 150px;
}

/* contact */
.footer {
  background-color: #F8F8F8;
  bottom: 0px;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 49px;
  font-weight: bold;
}

.footer__ttl {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 21px;
}

.footer__dtl {
  margin-bottom: 52px;
}

@media (max-width: 768px) {
  .footer__dtl {
    margin-bottom: 30px;
    text-align: center;
  }
}

.footer__dtl span {
  display: inline-block;
  font-weight: initial;
}

@media (max-width: 768px) {
  .footer__dtl span {
    margin-bottom: 10px;
  }
}

.footer__dtl span:nth-child(1) {
  margin-right: 29px;
}

.footer__copy-right {
  font-size: 14px;
}

/* footer */
/*# sourceMappingURL=style.css.map */